.Digi h2 ,.Web h2,.Web p{
  color: var(--primary-blue);
}
.Digi h5 ,.UI h3 , .Web h4{
  color: var(--primary);
}
.Digi p ,.UI li ,.Web li{
  color: var(--primary-blue);
  font-size: 1.023rem;
}
.Web h5{
  color: var(--primary-blue);
  text-decoration: underline;
}
.MandS{
  color: var(--primary-blue);

}
.MandS h2 , .MandS h5{
  color: var(--primary);
} 

/* ui li color to gray */
.UI ul li ,.Web ul li ,.Digi p ,.MandS ul li {
  color: rgb(54, 54, 54) !important;
  margin: 1.3rem;
}
.Web h5{
  margin: 3rem 0 0 0;
}
.Web p {
  color: rgb(36, 36, 36);
}
 

@media screen and (max-width: 768px) {
  .display_none{
    display: none;
  }
  .breadcrumb li{
    font-size: 0.8rem;
  }
  .Web .breadcrumb li {
    font-size: 0.669rem !important;
  }
  
}
@media screen and (max-width: 1240px) {
  
}
