.hero-title{
  font-size: 5rem;
  font-weight: 500;
  color: var(--primary);
 

}
.hero-title p{
  font-family:Arial, Helvetica, sans-serif!important;
}
.hero-sub-title{
  font-size: 1.5rem;
}
.hero-sub-sub{
  font-size: 0.98rem;
}
.get-started button{
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  border: none;
  background: var(--primary-blue);
  color: white;
  text-transform: capitalize;
  font-size: 1.5rem;

  
}
.ArrowIcon{
  margin: 0rem 0rem 0rem 3.5rem;
  
}
.Hero_Row{
  height: 100%;
  
}
.Hero_title_div{
  margin-top: -5rem;
}
.Hero-Container{
  margin-top: 9rem;
}



/* mobile view starts here */

@media screen and (max-width: 600px) {
  .hero-title{
    font-size: 2rem;
    font-weight: 600;
  }
  .Hero-Container{
    margin-top: 6rem;
    height: auto !important;
    
  }
  .Hero_Row{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
  }
  /* .startup-image{
    display: flex;
    width: 400px;
  } */
  .startup-image img{
    height: auto;
    width: 350px !important;
  }
}
@media screen and (max-width: 1240px) {
  .hero-title{
    font-size: 3rem;
    font-weight: 600;
  }
  .Hero-Container{
    margin-top: 6rem;
    height: auto !important;
    
  }
  .Hero_Row{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
  }
  .startup-image{
    display: flex;
    width: 500px;
  }
  .startup-image img{
    height: auto;
    width: 100% ;
  }
}
