.About1 {
  background: var(--primary);
  padding: 3rem 0rem;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Name_Bold {
  font-weight: 600;
}
.About2 li {
  font-size: 1.1rem;
}
.card {
  text-align: center;
  color: var(--primary-blue);
}
.card-text {
  font-size: 3rem;
  font-weight: bold;
}
.card-title {
  font-size: 1.5rem;
  font-weight: 600;
}



.About2 {
  color: var(--primary-blue);
}
.About2Bg {
  background: rgb(236, 242, 255);
  padding: 3rem 0;
}
.About2_strong_text {
  font-weight: 600;
  font-size: 1.45rem;
  color: var(--primary);
}
.About2_Large_Text {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-top: 1rem;
}

/* about 2 gray text below */

.About2 ul li {
  color: rgb(54, 54, 54) !important;
}

.About2-images {
  max-height: 350px !important;
}
.About3-images{
  max-height: 350px !important;
}

.RoundBG h4 {
  color: var(--primary-blue);
  font-weight: 600;
  font-size: 2.2rem;
}

.About3 .card-text {
  font-size: 16px;
  font-weight: 400;
  color: rgb(54, 54, 54) !important;
}
.About3 .card-title {
  font-size: 24px;
  font-weight: 500;
}
.About3 .card {
  height: 100%;
  border-radius: 30px;
  border: none;
  background: rgb(255, 232, 217);
  padding: 1rem;
}
.About3 .card-title {
  margin-bottom: 1rem;
}

.About3 .Alt {
  background: rgb(236, 242, 255) !important;
}


/* ------------------------------------------mobile view starts here-------------------------------- */

/* -----------------------sm-screens ---------------------------------------------------------*/

@media screen and (max-width: 600px) {
  .About1 {
    height: 100vh;
  }
  .About2_Large_Text {
    font-size: 1.5rem !important;
  }

  .About3 .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .About2-images {
    max-height: 200px !important;
  }
  .About3-images{
    max-height: 200px !important;
  }
  .About2_strong_text{
    font-size: 1rem;
    
  }
  .Sm-Hidden{
      display: none;
  }
  /*-----------------about3---------------------*/

  .RoundBG h4 {
    color: var(--primary-blue);
    font-weight: 600;
    font-size: 1.5rem;
  }
  .About3 .card-img-top{
    width: 130px !important;
  }
  
}
@media screen and (max-width: 1240px) {
  
  .About2_Large_Text {
    font-size: 2rem;
  }
}
