.Services_main{
  background: var(--primary-blue);
  
  padding-bottom: 4rem;
}
.Services_main .card-text{
  font-size: 16px !important;
  font-weight: 400;
  margin-bottom: 1rem;
}
.Services_main .card-title{
  font-weight: 600;
}
.Services_main h1{
  display: inline-block;
  color: white;
  text-transform: uppercase !important;
  border-bottom: 7px solid var(--primary);
  padding-bottom: 1.5rem;
}
.Services_main img{
  width: 130px !important;
}
.Services_main h5{
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.card{
  height: 100%;
}
.Text_Bold_p{
  color: var(--primary);
  font-weight: 600;
}

@media screen and (max-width: 600px) {
  
}
@media screen and (max-width: 1240px) {
 
}